

:root {
    --color-black: #000;
    --color-white: #fff;
    --color-background: var(--color-black);
    --color-foreground: var(--color-black);
    --margin-s: 1rem
}

*,*:before,*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline
}

::selection {
    background: var(--color-red);
    color: var(--color-black)
}

a,input,button {
    color: currentColor;
    touch-action: manipulation;
    -webkit-tap-highlight-color: transparent
}

@font-face {
    font-family: ABC Monument Grotesk;
    src: url(../fonts/ABCMonumentGrotesk-Regular.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

body {
    font-family: ABC Monument Grotesk,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 120%;
    letter-spacing: .02em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

h1,h2,h3,h4,h5 {
    font-size: inherit;
    font-weight: inherit;
    letter-spacing: inherit
}

.project-close-button {
    position: absolute;
    z-index: 4;
    top: 0;
    left: auto;
    right: 0;
    color: #fff6
}
